@{
    Layout = null;
}
<html ng-app="WebAPI">
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1526040296" />
   
    <link rel="stylesheet" href="https://openlayers.org/en/v4.4.2/css/ol.css" type="text/css">

    <title>Taxi Service</title>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../MyCSSs/StyleSheet1.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
   

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top" ng-controller="MainController">
            <div class="container-fluid">
              
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
               
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  
                    <ul class="nav navbar-nav">  

                        <li ng-show="loggedin && !moraKomentar && !moraKomentarKorisnik"  ng-class="checkActive('/MyHome')"><a href="#!/"><i class="ion ion-android-home"></i> TAXI SERVICE</a></li>
                        <li ng-show="loggedin && !moraKomentar && !moraKomentarKorisnik" ng-class="checkActive('/Edit')"><a href="#!/Edit"><i class="ion ion-person"></i>Edit Profile</a></li>
                        <li ng-show="user.role == 1" ng-class="checkActive('/AddDrivers')"><a href="#!/AddDrivers"><i class="ion ion-person"></i>Add Drivers</a></li>
                        <li ng-show="user.role == 1" ng-class="checkActive('/BlokUsers')"><a href="#!/BlokUsers"><i class="ion ion-person"></i>Block Users</a></li>
                    </ul>
                   
                       
                    
                    <ul class="nav navbar-nav navbar-right">
                       
                        <li ng-show="!loggedin"  ng-class="checkActive('/Login')"><a href="#!/Login">Login</a></li>
                        <li ng-show="!loggedin"  ng-class="checkActive('/Register')"><a href="#!/Register">Register</a></li>
                        <li ng-show="loggedin && !moraKomentar && !moraKomentarKorisnik" ng-class="checkActive('/Profile')"><a href="#!/Profile"><i class="ion ion-person"></i> {{user.nameSurname}}</a></li>
                        <li ng-show="loggedin && !moraKomentar && !moraKomentarKorisnik"><a href ng-click="Logout()"><i class="ion ion-log-out"></i> Logout</a></li>
    
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-view></div>
    </div>

    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
   
   
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.cit.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
  
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL,fetch"></script>
    <script src="https://openlayers.org/en/v4.4.2/build/ol.js"></script>

    <script src="../../MyCont/pagehelp.js"></script>
    <script src="../../MyControllers/MyHomeController.js"></script>
    <script src="../../MyControllers/LoginController.js"></script>
    <script src="../../MyControllers/MainController.js"></script>
    <script src="../../MyControllers/ProfileController.js"></script>
    <script src="../../MyControllers/BlockController.js"></script>
    <script src="../../MyControllers/CommentController.js"></script>
    <script src="../../MyCont/LogCont.js"></script>
    <script src="../../MyCont/ProfCont.js"></script>
    <script src="../../MyCont/MyDirective.js"></script>

</body>
</html>