<br />
<br />
<br />
<div ng-show="!loggedin || user.role==2">
    <h1>You are not authorised to add drives.</h1>
</div>
<div class="container-fluid" ng-show="loggedin && user.role!=2"> 
           
        <div ng-show="!najblizivozaci" class="body">
            <h2 class="hed2">Choose location: </h2>
            <div>

                <div id="map" class="map"></div>
               
                <script>
                    var map = new ol.Map({
                        layers: [
                            new ol.layer.Tile({
                                source: new ol.source.OSM()
                            })
                        ],
                        target: 'map',
                        view: new ol.View({
                            center: [0, 0],
                            zoom: 2
                        })
                    });
                    function simpleReverseGeocoding(lon, lat) {
                        fetch('https://cors.io/?http://nominatim.openstreetmap.org/reverse?format=json&lon=' + lon + '&lat=' + lat).then(function (response) {
                            return response.json();
                        }).then(function (json) {
                            document.getElementById('address').innerHTML = json.display_name;
                        })
                    }
                    map.on('click', function (e) {
                        var coordinate = ol.proj.toLonLat(e.coordinate).map(function (val) {
                            return val.toFixed(6);
                        });
                        var lon = document.getElementById('lon').innerHTML = coordinate[0];
                        var lat = document.getElementById('lat').innerHTML = coordinate[1];
                        simpleReverseGeocoding(lon, lat);
                    });
                    
                </script>

            </div>
            <div class="josjedan">
                <div class="form-group">
              
                   <p>X: </p> <span class="tspan" id="lon"></span>

                </div>
                <div class="form-group">
              
                    <p>Y: </p><span class="tspan" id="lat"></span>

                </div>
                <div class="form-group">

                   <p>Address: </p> <span class="tspan" id="address"> </span>

                </div>

                <div class="form-group">
                    <select class="t form-control" id="tipVoznje" ng-model="drive.tipAuta" placeholder="CarType">
                        <option value="" disabled>Choose a car type</option>
                        <option value="0"> Passanger car</option>
                        <option value="1">Van</option>
                    </select>
                </div>
                <br>

                <button ng-show="user.role==0" type="submit" class="btn button-success" ng-click="AddDriveCustomer(drive)">Add a drive</button>
                <button ng-show="user.role==1 && !najblizivozaci" type="submit" class="btn button-success" ng-click="AddDriveDispatcher(drive)">Add a drive</button>
                    <br />
                    <br />  
          </div>
       </div>
       <div class="josjedan" ng-show="!prznalista">

            <br />
            <br />
            <br />

            <div ng-show="user.role==1 && najblizivozaci">
                <div class="form-group">
                    <p class="hed2">Choose a driver from a list of closest drivers: </p>
                    <select class="t form-control" id="slobodni" ng-model="novimodel.selektovaniVozac">
                        <option ng-repeat="driver in ListaNajblizih" value="{{driver}}">{{driver}}</option>
                    </select>
                </div>
                <br>

                <button type="submit" class="btn button-success form-control" ng-click="DodajVoznjuKonacno(novimodel)">Add  drive</button>

            </div>
        </div>
        <div ng-show="prznalista">
            <br />
            <br />
            <br />
            <p>&nbsp;&nbsp; Drive will be added with a status created waiting due to a lack of free drivers. You can process it again later.</p>

        </div>
           
    </div> 


   