<div class="registerWindow">
    <div class="header">
        <h1>Edit Form: </h1>
    </div>
    <!-->div-- class="body">
        <div class="form-group">
           <label>User name: {{userProfile.UserName}}. New username</label> <input type="text" class="t" id="username" ng-model="user.username"/>
        </div>
        <div class="form-group">
            <label>Name: {{userProfile.Name}}. New name</label> <input type="text" class="t" id="ime" ng-model="user.ime" />
        </div>
        <div class="form-group">
            <label>Surname: {{userProfile.Surname}}. New surname</label><input type="text" class="t" id="prezime" />
        </div>
        <label>Gender: {{userProfile.Gender}}. New gender</label><div class="form-group">
            <select class="t" id="pol" ng-model="user.pol" >
                <option value="" disabled>Choose gender</option>
                <option value="Male"> Male</option>
                <option value="Female">Female</option>
            </select>
            <!--<input type="text" class="t" id="pol" ng-model="user.pol" placeholder="Pol">-->
        <!-->/div>
        <div class="form-group">
            <label>JMBG: {{userProfile.Jmbg}}. New jmbg</label><input type="text" class="t" id="jmbg" ng-model="user.jmbg"/>
        </div>
        <div class="form-group">
            <label>Phone: {{userProfile.ContactPhoneNumber}}. New phone number</label><input type="text" class="t" id="kontaktTelefon" ng-model="user.kontaktTelefon"/>
        </div>
        <div class="form-group">
            <label>Email: {{userProfile.Email}}. New Email: </label><input type="text" class="t" id="email" ng-model="user.email"/>
        </div>
        <div class="form-group">
            <label>Password: </label><input type="password" class="t" id="pwd" ng-model="user.pwd" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn button-success" ng-click="EditUser(user)">Edit</button>
    </!--div-->
</div>