<br/>
<br />
<br/><!--VOZNJE-->
<div class="container-fluid">
    <div class="">
        <h1>Welcome <span ng-show="loggedin">{{user.username}}</span> </h1>
        <h4 ng-show="loggedin">
            {{filtriranje}}
        </h4>
        <h4 ng-show="!loggedin">Please login if you want to use our services.</h4>
    </div>
</div>
<div ng-show="user.role == 1">
    <button type="submit" class="btn button-success" ng-click="getDrives1()">Show All Drives</button>
</div>
<div ng-show="user.role == 2">
    <button type="submit" class="btn button-success" ng-click="getDrives2()"> Show all drives with a status Waiting</button>
</div>
<div ng-show="listaFlag!=3 && posebanFlag!=3" class="body">
    <div class="form-group">
        <select class="t" id="fil" ng-model="fu.Stat">
            <option value="0">Created-waiting</option>
            <option value="1"> Canceled</option>
            <option value="2">Formed</option>  
            <option value="3">Processed</option>
            <option value="4">Accepted</option>
            <option value="5">Successful</option>
            <option value="6">Unsuccessful</option>
         </select>
    </div>
    <br>
   
 </div>
<!--!CD && !SVE && !FILT1 && !FILT2-->
<!--SVE && FILT1-->
<!--!SVE && FILT2-->
<!--SVE && !FILT1 && !FILT2-->
<!--CD && !SVE && !FILT1 && !FILT2-->
<input type="radio" name="group" value="0" ng-model="fu.PoCemu" ng-checked="true"/> By Rating <br />
<input type="radio" name="group" value="1" ng-model="fu.PoCemu" /> By Date <br />

<button ng-show="listaFlag!=3 && posebanFlag==2 && filtFlag==0" type="submit" class="btn button-success" ng-click="Sorting(MyDrives, fu.PoCemu)">Sort</button>
<!--<button ng-show="posebanFlag==1 && filtFlag==1" type="submit" class="btn button-success" ng-click="Sorting(FilteredDrives)">Sort</button>
<button ng-show="posebanFlag==3 && filtFlag == 1" type="submit" class="btn button-success" ng-click="Sorting(FilteredDrives)">Sort</button>-->
<button ng-show="filtFlag == 1" type="submit" class="btn button-success" ng-click="Sorting(FilteredDrives,fu.PoCemu)">Sort</button>
<button ng-show="posebanFlag==1 && filtFlag == 0" type="submit" class="btn button-success" ng-click="Sorting(AllDrives,fu.PoCemu)">Sort</button>
<button ng-show="posebanFlag==3 && filtFlag == 0" type="submit" class="btn button-success" ng-click="Sorting(CreatedDrives,fu.PoCemu)">Sort</button>
<button ng-show="filtFlag == 2" type="submit" class="btn button-success" ng-click="Sorting(SearchedDrives,fu.PoCemu)">Sort</button>
<!--<span class="input-group-addon">
   <span class="glyphicon glyphicon-calendar"></span>
</span>-->
<div class="zaBojuSlova">
    <div class="form-group">
        <table  class="zaBojuSlova">
            <tr  class="zaBojuSlova">
                <td>  </td>
                <td>Od: </td>
                <td>Do: </td>
            </tr>
            <tr class="zaBojuSlova">
                <td>Datum: </td>
                <td><input type="date" id="DatumOd" class="form-control" ng-model="su.DatumOd" /></td>
                <td><input type="date" id="DatumDo" class="form-control"  ng-model="su.DatumDo" /></td>
            </tr>
            <tr  class="zaBojuSlova">
                <td>Ocena: </td>
                <td><input type='text'  id="OcenaOd" class="form-control" ng-model="su.OcenaOd"/></td>
                <td><input type='text' id="OcenaDo" class="form-control" ng-model="su.OcenaDo"/></td>
            </tr>
            <tr  class="zaBojuSlova">
                <td>Cena: </td>
                <td><input type='text' id="CenaOd" class="form-control" ng-model="su.CenaOd"/></td>
                <td><input type='text' id="CenaDo" class="form-control"ng-model="su.CenaDo" /></td>
            </tr>
            <tr  class="zaBojuSlova" ng-show="user.role == 1">
                <td> </td>
                <td>Ime:</td>
                <td>Prezime: </td>
            </tr>
            <tr  class="zaBojuSlova" ng-show="user.role == 1">
                <td>Vozac: </td>
                <td><input type='text' id="VozIme" class="form-control" ng-model="su.VozIme" /></td>
                <td><input type='text' id="VozPre" class="form-control" ng-model="su.VozPre" /></td>
            </tr>
            <tr  class="zaBojuSlova" ng-show="user.role == 1">
                <td>Musterija: </td>
                <td><input type='text' id="MusIme" class="form-control" ng-model="su.MusIme" /></td>
                <td><input type='text' id="MusPre" class="form-control" ng-model="su.MusPre" /></td>
            </tr>
            <tr>
                <td colspan="3" align="right">
                    <button ng-show="listaFlag!=3 && posebanFlag==2 && filtFlag!=1" type="submit" class="btn button-success" ng-click="Search(MyDrives,su)">Search</button>
                    <button ng-show="posebanFlag==1 && filtFlag != 1" type="submit" class="btn button-success" ng-click="Search(AllDrives,su)">Search</button>
                    <button ng-show="posebanFlag==3 && filtFlag != 1" type="submit" class="btn button-success" ng-click="Search(CreatedDrives,su)">Search</button>
                    <button ng-show="filtFlag == 1" type="submit" class="btn button-success" ng-click="Search(FilteredDrives,su)">Search</button>
                    <!--<button ng-show="filtFlag == 2" type="submit" class="btn button-success" ng-click="Search(Sorted,su)">Search</button>-->
                </td>
            </tr>

        </table>
    </div>
</div>       



<h4 >{{filtriranje}}</h4> <!--ng-show="Drives && !F"-->
<div    class="container">
    <div   class="col-md-12">
        <div   class="praceneTeme">  
            <div  ng-show="listaFlag == 1">
                <button type="submit" class="btn button-success" ng-click="Filter(MyDrives,fu.Stat)">Filtering</button>

                <div  ng-show="listaFlag==1" class="teme-repeat" ng-repeat="drive in MyDrives">
                   
                    <div class="tema">
                        <p>  {{drive.DataAndTime}} </p>
                        <p> {{drive.Arrival.Address.Street}}, {{drive.Arrival.Address.Number}}</p>
                        <p> {{drive.Arrival.Address.Town}}</p>
                        <p> {{drive.Arrival.Address.PostalCode}}</p>
                        <p> {{drive.Status}}</p>
                        <p> Comment: </p>
                        <p  ng-show="drive.Comment.Description"> {{drive.Comment.Description}}</p>
                        <p  ng-show="drive.Comment.Rating!= 0"> {{drive.Comment.Rating}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.user}}</p>
                        <p  ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.Date}}</p>
                        <button ng-show="drive.Status == 0 && user.role==0" type="submit" class="btn button-success" ng-click="CancelDrive(drive)">Cancel Drive</button>
                        <button ng-show="drive.Status == 0 && user.role==1" type="submit" class="btn button-success" ng-click="ProcessDrive(drive,MyDrives)">Process Drive</button>
                        <button ng-show="user.role == 2 &&(drive.Status==2 || drive.Status==3 || drive.Status == 4)" type="submit" class="btn button-success" ng-click="EndDrive(drive)">End Drive</button>
                        <button ng-show="user.role == 0 && drive.Status==5 && !drive.Comment.Description" type="submit" class="btn button-success" ng-click="Komentarisi(drive)">Comment</button>
                        <button ng-show="drive.Status == 0 && user.role==0" type="submit" class="btn button-success" ng-click="EditDrive(drive)">Edit Drive</button>


                    </div>
                    <div class="nemaTema" ng-show="Drives.length == 0">
                        <h4>No drives.</h4>
                    </div>
                </div>
            </div>
            <div ng-show="listaFlag==3">
                <div ng-show="listaFlag==3" class="teme-repeat" ng-repeat="drive in CreatedDrives">

                    <div class="tema">
                        <p>  {{drive.DataAndTime}} </p>
                        <p> {{drive.Arrival.Address.Street}}, {{drive.Arrival.Address.Number}}</p>
                        <p> {{drive.Arrival.Address.Town}}</p>
                        <p> {{drive.Arrival.Address.PostalCode}}</p>
                        <p> {{drive.Status}}</p>
                        <p> Comment: </p>
                        <p ng-show="drive.Comment.Description"> {{drive.Comment.Description}}</p>
                        <p ng-show="drive.Comment.Rating!= 0"> {{drive.Comment.Rating}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.user}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.Date}}</p>
                        
                        <button ng-show="!DriverData.zauzet && DriverData.tipAuta==drive.CarType && user.role==2" type="submit" class="btn button-success" ng-click="AcceptDrive(drive,CreatedDrives)">Accept Drive</button>

                        
                    </div>
                    <div class="nemaTema" ng-show="Drives.length == 0">
                        <h4>No drives.</h4>
                    </div>
                </div>
            </div>
            <div ng-show="listaFlag==2">
                <button type="submit" class="btn button-success" ng-click="Filter(AllDrives,fu.Stat)">Filtering</button>

                <div ng-show="listaFlag==2" class="teme-repeat" ng-repeat="drive in AllDrives">
                    
                    <div class="tema">
                        <p>  {{drive.DataAndTime}} </p>
                        <p> {{drive.Arrival.Address.Street}}, {{drive.Arrival.Address.Number}}</p>
                        <p> {{drive.Arrival.Address.Town}}</p>
                        <p> {{drive.Arrival.Address.PostalCode}}</p>
                        <p> {{drive.Status}}</p>
                        <p> Comment: </p>
                        <p ng-show="drive.Comment.Description"> {{drive.Comment.Description}}</p>
                        <p ng-show="drive.Comment.Rating!= 0"> {{drive.Comment.Rating}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.user}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.Date}}</p>
                        <button ng-show="drive.Status == 0 && user.role==1" type="submit" class="btn button-success" ng-click="ProcessDrive(drive,AllDrives)">Process Drive</button>

                    </div>
                    <div class="nemaTema" ng-show="Drives.length == 0">
                        <h4>No drives.</h4>
                    </div>
                </div>
            </div>
            <div  ng-show="listaFlag==4">
                <button ng-show="posebanFlag==1" type="submit" class="btn button-success" ng-click="Filter(AllDrives,fu.Stat)">Filtering</button>
                <button ng-show="posebanFlag==2" type="submit" class="btn button-success" ng-click="Filter(MyDrives,fu.Stat)">Filtering</button>

                <div ng-show="listaFlag==4" class="teme-repeat" ng-repeat="drive in SortedDrives">

                    <div class="tema">
                        <p>  {{drive.DataAndTime}} </p>
                        <p> {{drive.Arrival.Address.Street}}, {{drive.Arrival.Address.Number}}</p>
                        <p> {{drive.Arrival.Address.Town}}</p>
                        <p> {{drive.Arrival.Address.PostalCode}}</p>
                       
                        <p> {{drive.Status}}</p>
                        <p> Comment: </p>
                        <p ng-show="drive.Comment.Description"> {{drive.Comment.Description}}</p>
                        <p ng-show="drive.Comment.Rating!= 0"> {{drive.Comment.Rating}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.user}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.Date}}</p>

                        <button ng-show="drive.Status == 0 && user.role==0" type="submit" class="btn button-success" ng-click="CancelDrive(drive)">Cancel Drive</button>
                        <button ng-show="drive.Status == 0 && user.role==1" type="submit" class="btn button-success" ng-click="ProcessDrive(drive,SortedDrives)">Process Drive</button>
                        <button ng-show="!DriverData.zauzet && DriverData.tipAuta==drive.CarType && user.role==2 && posebanFlag==3" type="submit" class="btn button-success" ng-click="AcceptDrive(drive,SortedDrives)">Accept Drive</button>
                        <button ng-show="user.role == 2 &&(drive.Status==2 || drive.Status==3 || drive.Status == 4)" type="submit" class="btn button-success" ng-click="EndDrive(drive)">End Drive</button>
                        <button ng-show="user.role == 0 && drive.Status==5 && !drive.Comment.Description" type="submit" class="btn button-success" ng-click="Komentarisi(drive)">Comment</button>
                        <button ng-show="drive.Status == 0 && user.role==0" type="submit" class="btn button-success" ng-click="EditDrive(drive)">Edit Drive</button>

                    </div>
                    <div class="nemaTema" ng-show="Drives.length == 0">
                        <h4>No drives.</h4>
                    </div>
                </div>
            </div>
            <div ng-show="listaFlag==5">
                <button ng-show="posebanFlag==1" type="submit" class="btn button-success" ng-click="Filter(AllDrives,fu.Stat)">Filtering</button>
                <button ng-show="posebanFlag==2" type="submit" class="btn button-success" ng-click="Filter(MyDrives,fu.Stat)">Filtering</button>

                <div ng-show="listaFlag==5" class="teme-repeat" ng-repeat="drive in FilteredDrives">
                   
                    <div class="tema">
                        <p>  {{drive.DataAndTime}} </p>
                        <p> {{drive.Arrival.Address.Street}}, {{drive.Arrival.Address.Number}}</p>
                        <p> {{drive.Arrival.Address.Town}}</p>
                        <p> {{drive.Arrival.Address.PostalCode}}</p>
                       
                        <p> {{drive.Status}}</p>
                        <p> Comment: </p>
                        <p ng-show="drive.Comment.Description"> {{drive.Comment.Description}}</p>
                        <p ng-show="drive.Comment.Rating!= 0"> {{drive.Comment.Rating}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.user}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.Date}}</p>

                        <button ng-show="drive.Status == 0 && user.role==0" type="submit" class="btn button-success" ng-click="CancelDrive(drive)">Cancel Drive</button>
                        <button ng-show="drive.Status == 0 && user.role==1" type="submit" class="btn button-success" ng-click="ProcessDrive(drive,FilteredDrives)">Process Drive</button>
                        <button ng-show="user.role == 2 &&(drive.Status==2 || drive.Status==3 || drive.Status == 4)" type="submit" class="btn button-success" ng-click="EndDrive(drive)">End Drive</button>
                        <button ng-show="user.role == 0 && drive.Status==5 && !drive.Comment.Description" type="submit" class="btn button-success" ng-click="Komentarisi(drive)">Comment</button>
                        <button ng-show="drive.Status == 0 && user.role==0" type="submit" class="btn button-success" ng-click="EditDrive(drive)">Edit Drive</button>

                    </div>
                    <div class="nemaTema" ng-show="Drives.length == 0">
                        <h4>No drives.</h4>
                    </div>
                </div>
            </div>

            <div ng-show="listaFlag==6">
                <!--<button ng-show="posebanFlag==1" type="submit" class="btn button-success" ng-click="Filter(AllDrives,fu.Stat)">Filtering</button>
                <button ng-show="posebanFlag==2" type="submit" class="btn button-success" ng-click="Filter(MyDrives,fu.Stat)">Filtering</button>-->
                <button ng-show="listaFlag==6" type="submit" class="btn button-success" ng-click="Filter(SearchedDrives,fu.Stat)">Filtering</button>


                <div ng-show="listaFlag==6" class="teme-repeat" ng-repeat="drive in SearchedDrives">

                    <div class="tema">
                        <p>  {{drive.DataAndTime}} </p>
                        <p> {{drive.Arrival.Address.Street}}, {{drive.Arrival.Address.Number}}</p>
                        <p> {{drive.Arrival.Address.Town}}</p>
                        <p> {{drive.Arrival.Address.PostalCode}}</p>
                        
                        <p> {{drive.Status}}</p>
                        <p> Comment: </p>
                        <p ng-show="drive.Comment.Description"> {{drive.Comment.Description}}</p>
                        <p ng-show="drive.Comment.Rating!= 0"> {{drive.Comment.Rating}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.user}}</p>
                        <p ng-show="drive.Comment.Description || drive.Comment.Rating != 0">{{drive.Comment.Date}}</p>

                        <button ng-show="drive.Status == 0 && user.role==0" type="submit" class="btn button-success" ng-click="CancelDrive(drive)">Cancel Drive</button>
                        <button ng-show="drive.Status == 0 && user.role==1" type="submit" class="btn button-success" ng-click="ProcessDrive(drive,SearchedDrives)">Process Drive</button>
                        <button ng-show="!DriverData.zauzet && DriverData.tipAuta==drive.CarType && user.role==2 && posebanFlag==3" type="submit" class="btn button-success" ng-click="AcceptDrive(drive,SortedDrives)">Accept Drive</button>
                        <button ng-show="user.role == 2 &&(drive.Status==2 || drive.Status==3 || drive.Status == 4)" type="submit" class="btn button-success" ng-click="EndDrive(drive)">End Drive</button>
                        <button ng-show="user.role == 0 && drive.Status==5 && !drive.Comment.Description" type="submit" class="btn button-success" ng-click="Komentarisi(drive)">Comment</button>
                        <button ng-show="drive.Status == 0 && user.role==0" type="submit" class="btn button-success" ng-click="EditDrive(drive)">Edit Drive</button>

                    </div>
                    <div class="nemaTema" ng-show="Drives.length == 0">
                        <h4>No drives.</h4>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>


<br/>
<div class="containerClass">
    <div class="topright" ng-show="user.role != 2"> 
        <a href="#!/DriveGet/{{user.username}}">Add Drive</a>
    </div>
</div>

   