<br />
<br />
<br />
<div ng-show="!DozvolaZaObradu || !loggedin || user.role!=1">
    <h1>You dont have persmision for this action</h1>
</div>
<div class="josjedan" ng-show="DozvolaZaObradu && loggedin && user.role==1">
    <div ng-show="FlagNemaVozaca">
        <h1>Drive has not been processed. There are no free drivers.</h1>
    </div>
    <div ng-show="!FlagNemaVozaca">
        <p class="hed2">Choose a driver from a list of closest drivers: </p>
        <div class="form-group">
            <select class="t form-control" id="slobodni" ng-model="novimodel.selektovaniVozac">
                <option ng-repeat="driver in PonudjeniVozaci" value="{{driver}}">{{driver}}</option>
            </select>
        </div>
        <br>

        <button type="submit" class="btn button-success form-control" ng-click="ObradiVoznjuKonacno(novimodel)">Proccess drive</button>
    </div>
</div>