<br />
<br />
<br />
<div class="registerWindow" ng-show="!loggedin">
    <div class="header">
        <h2>Registration Form: </h2>
    </div>
    <div class="body">
        <div class="form-group">
            <input type="text" class="t form-control" id="username" ng-model="user.username" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="text" class="t form-control" id="ime" ng-model="user.ime" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="text" class="t form-control" id="prezime" ng-model="user.prezime" placeholder="Surname">
        </div>
        <div class="form-group">
            <select  class="t form-control"  id="pol" ng-model="user.pol" placeholder="Gender">
                <option value="" disabled>Choose gender</option>
                <option value="Male"> Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="t form-control" id="jmbg" ng-model="user.jmbg" placeholder="JMBG">
        </div>
        <div class="form-group">
            <input type="text" class="t form-control" id="kontaktTelefon" ng-model="user.kontaktTelefon" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <input type="text" class="t form-control" id="email" ng-model="user.email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="t form-control" id="pwd" ng-model="user.pwd" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn button-success form-control" ng-click="RegisterUser(user)">Register</button>
    </div>
</div>
<div ng-show="loggedin">
    <h1>
        You already have an account.
    </h1>
</div>
